/* On Load animation */
@keyframes load {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

/* Main Block */
.main {
    padding-top: 15px;
    padding-bottom: 60px;
    background-color: #0C0C14;
    min-height: 75vh;
}

.main>* {
    padding-left: 10px;
    padding-right: 10px;
}

/* Button */
.button {
    position: relative;
    width: fit-content !important;
    color: #37b2f0;
    box-shadow: 0px .2em .8em #37b2f000;
    font-size: 2.8vw;
    font-weight: 600;
    padding: 5px 3vw !important;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    text-decoration: none;
    top: 0px;
    transition: top, border-width, box-shadow 1.5s ease;
}

.button:hover {
    top: -2px;
    border-width: 3px;
    box-shadow: 0px .4em .8em #37b2f0AA;
}

/* Multi-column layout */
.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.columns * {
    text-align: left;
    width: 100%;
}

/* Languages */
.languages {
    width: 50%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.languages div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.languages div div {
    display: flex;
    flex-direction: column;
    margin: auto 8px;
    max-width: 12%;
    height: auto;
    aspect-ratio: .7;
    background-image: linear-gradient(300deg, #1A1A1A 20%, #2A2A3A 21%, #2A2A3A 50%, #1A1A1A 51%);
    box-shadow: 0px 2px 8px #37b2f088;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-radius: 4px;
    border-color: #37b2f0;
}

.languages div div * {
    margin: 0;
    padding: 0;
}

.languages div div p {
    height: 20%;
    width: 150%;
    font-size: 1.6cqw;
    font-weight: 500;
    color: #FFFFFF;
    text-wrap: wrap;
    text-align: center;
    text-justify: center;
}

.languages div div img {
    height: auto;
    max-height: 60%;
    min-height: 0;
    max-width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1 auto;
}

/* Gallery layout */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

div.gallery-item {
    width: 33%;
    aspect-ratio: 1;
    max-width: 300px;
    position: relative;
}

div.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-style: solid;
    border-color: #37b2f0;
    border-width: 2px;
    border-radius: 5%;
    transition: border-width .4s ease;
}

div.gallery-item img:active {
    border-color: #277fab;
}

div.gallery-item .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100%);
    height: calc(100%);
    border-width: 2px;
    border-radius: 4%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85));
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 4.2vw;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin: 0;
    pointer-events: none;
}

div.gallery-item .overlay p {
    margin: 10px 0px;
    width: calc(90% - 20px);
    color: #37b2f0;
    font-size: 1.8vw;
    font-weight: 100;
    text-wrap: wrap;
}

div.gallery-item:hover .overlay {
    opacity: 1;
}

/* Intro Text */
#intro-text {
    font-weight: 100;
    text-align: center;
}

#headshot {
    width: 30%;
    margin-right: 50px;
    padding: 0;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

@media screen and (max-device-width: 600px) {
    .columns {
        flex-direction: column;
    }

    .columns * {
        width: 100% !important;
    }

    #intro-text :not(a) {
        text-align: center !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #headshot {
        display: none;
    }
}