* {
    font-family: 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.footer {
    float: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1A1A20;
    color: #FFFFFF;
}

.footer div {
    float: middle;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.footer p {
    margin: 5px;
    width: fit-content;
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: white;
}

.footer div * {
    margin: 5px;
    width: fit-content;
    font-size: 28px;
    text-align: center;
    color: white;
}