.header {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 100;
    font-size: 14px;
    background-image: linear-gradient(to bottom, #222222, #333333, #222222);
    font-family: sans-serif;
    color: #FFFFFF;
}

.header li:first-child {
    float: left;
    font-size: 28px;
    font-weight: 600;
}

.header li:not(:first-child) {
    float: right;
    margin-top: 14px;
}

.header li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a6a1a1;
    width: 10cqb;
    box-shadow: 2cqb 8px 16px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #a6a1a1;
    transition: background-color .6s ease-in;
    display: block;
    width: 100%;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #818181;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 600px) {
    .header li:first-child {
        font-size: 20px;
    }

    .header li:not(:first-child) {
        font-size: 10px;
        margin-top: 10px;
    }
}