* {
    font-family: 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.header {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 100;
    font-size: 1.8vh;
    background-color: #1A1A20;
    color: #FFFFFF;
}

.header li:first-child {
    float: left;
    font-size: 3.4vh;
    font-weight: 600;
}

.header li:not(:first-child) {
    float: right;
    margin-top: 14px;
}

.header li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    transition: background-color .6s ease-in;
    display: block;
    width: calc(100% - 28px);
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #32323F;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #44444F;
}

@media screen and (max-width: 767px){
    .header {
        font-weight:300;
    }
    
    .header li:first-child {
        font-size: 2.8vh;
    }

    .header li:not(:first-child) {
        font-size: 1.4vh;
        margin-top: 1.4vh;
    }
}

@media screen and (max-device-width: 600px){
    .header {
        width: 100%;
        height: 5vh;
        font-weight:300;
        padding-bottom:.2vh;
    }
    
    .header li:first-child {
        font-size: 1.6vh;
    }

    .header li:not(:first-child) {
        font-size: 1vh;
        margin-top: .6vh;
    }
}