.main-point {
    font-size:2.0vw;
    font-weight: 100;
    font-family: sans-serif;
    color: #BBBBBB;
    text-wrap: wrap;
    vertical-align: middle;
}

.main-point * {
    width: 90%;
}

.body-text {
    font-size: 1.8vw;
    font-weight: 100;
    font-family: sans-serif;
    color: #BBBBBB;
    text-wrap: wrap;
}

.focus {
    font-size: 1.2em;
    padding: 0;
    font-weight: 800;
    color: #FFFFFF;
}

.center-header {
    float: middle;
    text-align: center;
    width: 100%;
    font-size: 3.6vw;
    font-weight:100;
    font-family: sans-serif;
    color: #BBBBBB;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}