.main-point {
    font-size:2.6vw;
    font-weight: 100;
    text-wrap: wrap;
    vertical-align: middle;
}

.main-point * {
    width: 90%;
}

.main-point *:not(:first-child) {
    font-size:2.2vw;
}

.body-text {
    font-size: 1.8vw;
    font-weight: 100;
    text-wrap: wrap;
}

.focus {
    font-size: 1.2em;
    padding: 0;
    font-weight: 800;
}

.center-header {
    float: middle;
    text-align: center;
    width: 100%;
    font-size: 3.6vw;
    font-weight:100;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}