@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.main-point {
    font-size:2.0vw;
    font-weight: 100;
    color: #BBBBBB;
    text-wrap: wrap;
    vertical-align: middle;
}

.main-point * {
    width: 90%;
}

.body-text {
    font-size: 1.8vw;
    font-weight: 100;
    color: #BBBBBB;
    text-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    .body-text {
        font-weight: 300;
        font-size: 2.2vw;
    }

    .main-point {
        font-weight: 300;
        font-size: 2.6vw;
    }
}

.focus {
    font-size: 1.2em;
    padding: 0;
    font-weight: 800;
    color: #FFFFFF;
}

.center-header {
    float: middle;
    text-align: center;
    width: 100%;
    font-size: 3.6vw;
    font-weight:100;
    color: #BBBBBB;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}